@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<AI_Cooking_Guide_Website.Models.MyRecipeModel>

<body>
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Quản lí công thức</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Bảng điều khiển</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Quản lí công thức</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- TABLE -->
        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Số Thứ Tự</th>
                        <th>Hình Ảnh</th>
                        <th>Tên</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var recipe in Model)
                    {
                        <tr>
                            <td>@recipe.Id</td>
                            <td>
                                <img src="@Url.Content(recipe.Image)" alt="@recipe.Name" class="food-image">
                            </td>
                            <td>@recipe.Name</td>
                            <td>
                                @if (recipe.IsAccepted)
                                {
                                    <span class="btn btn-success">Đã duyệt</span>
                                }
                                else
                                {
                                    <a href="@Url.Action("AcceptRecipe", "Accept", new { id = recipe.Id })" class="btn btn-edit">
                                        <i class="fas fa-check-circle"></i> Duyệt
                                    </a>
                                }
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
        <!-- TABLE -->
    </main>
</body>
