<!DOCTYPE html>
    <html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <!-- My CSS -->
    <link href="~/css/admin.css" rel="stylesheet" />

    <title>AdminHub</title>
    </head>
    <body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="~/img/logo/logo.png" alt="Logo AdminHub" class="icon" />
			<span class="text">Michelin Btec</span>
		</a>

		<ul class="side-menu top">
			<li class="active">
				<a href="@Url.Action("Index", "Admin")">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Add Food</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "ListAdmin")">
					<i class='bx bxs-group'></i>
					<span class="text">List Food</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Analytics")">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Messages")">
					<i class='bx bxs-message-dots'></i>
					<span class="text">Messages</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Team")">
					<i class='bx bxs-group'></i>
					<span class="text">Team</span>
				</a>
			</li>
		</ul>

	</section>
	<!-- SIDEBAR -->
    </body>
    </html>